<!-- HOME -->
<section id="home" class="min-h-screen flex items-center px-6 pt-32">
    <div class="mx-auto grid max-w-6xl items-center gap-12 md:grid-cols-2">
        <div>
            <h1 class="reveal text-4xl font-black leading-tight md:text-6xl">
                Olá, eu sou o Nícolas.
                <br>
            </h1>

            <p class="reveal reveal-delay-1 mt-6 mb-3 text-sm font-semibold uppercase tracking-[0.3em] text-blue-400">
                Desenvolvedor Web e Mobile | JavaScript | Python
            </p>

            <div class="reveal reveal-delay-2 mt-8 flex flex-wrap gap-4">
                <button
                    id="btn-curriculo"
                    class="cursor-pointer rounded-full bg-blue-600 hover:bg-blue-500 px-8 py-3 font-bold text-white transition hover:scale-105"
                >
                    Baixar currículo
                </button>

                <a
                    href="#contato"
                    class="rounded-full border-2 border-blue-500 hover:bg-blue-500 hover:text-white px-8 py-3 font-bold transition hover:scale-105"
                >
                    Entrar em contato
                </a>
            </div>
        </div>

        <div class="reveal reveal-delay-3 flex justify-center">
            <div>
                <img
                    class="w-[350px] h-auto rounded-[2rem] shadow-2xl"
                    src="/web-site-portfolio/assets/images/foto_perfil.png"
                    alt="Foto de perfil do Nícolas"
                >
            </div>
        </div>
    </div>
</section>