    <!-- SKILLS -->
    <section id="skills" class="px-6 py-24 bg-slate-900">
        <div class="mx-auto max-w-6xl">
            <h2 class="text-3xl font-black md:text-4xl">Hard Skills</h2>

            <div class="skills-list mt-10 flex flex-wrap gap-4">
                <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML">
                    <span class="cursor-pointer"><i class=" devicon-html5-plain colored"></i> HTML</span>
                </a>
                <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS">
                    <span class="cursor-pointer"><i class="devicon-css3-plain colored"></i> CSS</span>
                </a>
                <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">
                    <span class="cursor-pointer"><i class="devicon-javascript-plain colored"></i> JavaScript</span>
                </a>
                <a href="https://tailwindcss.com/docs/installation/using-vite">
                    <span class="cursor-pointer"><i class="devicon-tailwindcss-plain colored"></i> Tailwind</span>
                </a>
                <a href="https://docs.python.org/3/">
                    <span class="cursor-pointer"><i class="devicon-python-plain colored"></i> Python</span>
                </a>
                <a href="https://flask.palletsprojects.com/en/latest/">
                    <span><i class="cursor-pointer devicon-flask-original"></i> Flask</span>
                </a>
                <a href="https://git-scm.com/docs">
                    <span class="cursor-pointer"><i class="devicon-git-plain colored"></i> Git</span>
                </a>
            </div>

            <h2 class="mt-20 text-3xl font-black md:text-4xl">Soft Skills</h2>

            <div class="mt-10 flex flex-wrap gap-4">
                <span class="cursor-pointer rounded-full border border-white/30 px-5 py-3 font-semibold text-white transition hover:scale-105">Comunicação</span>
                <span class="cursor-pointer rounded-full border border-white/30 px-5 py-3 font-semibold text-white transition hover:scale-105">Trabalho em equipe</span>
                <span class="cursor-pointer rounded-full border border-white/30 px-5 py-3 font-semibold text-white transition hover:scale-105">Proatividade</span>
                <span class="cursor-pointer rounded-full border border-white/30 px-5 py-3 font-semibold text-white transition hover:scale-105">Organização</span>
                <span class="cursor-pointer rounded-full border border-white/30 px-5 py-3 font-semibold text-white transition hover:scale-105">Aprendizado Continuo</span>
                <span class="cursor-pointer rounded-full border border-white/30 px-5 py-3 font-semibold text-white transition hover:scale-105">Resolução de problemas</span>
            </div>
        </div>
    </section>